extends layout

block content
  table.box
    tr
      td.r= uidTt[exx.uid]
      td.lcvcl= exx.uid
    tr
      td.cxl(colspan='2')= exx.tt

  table
    for trx in trxr
      tr
        td.r= uidTt[trx.uid]
        td.lcvcl= trx.uid
        td
          a(href=base + '/ex/' + trx.ex)= trx.tt
