extends layout

block content
  table.box
    tr
      td.r= exx.lv.tt
      td.lcvcl= exx.uid
    tr
      td.cxl(colspan='2')= exx.tt

  table
    for trx in trxr
      tr
        td.r= trx.lv.tt
        td.lcvcl= trx.uid
        td
          a(href=base + '/ex/' + trx.ex)= trx.tt
